@@ -0,0 +1,67 @@
+/*
+p {
+    display: inline;
+    font-size: 2em;
+    color: #fff;
+    width: 600px;
+    margin-top: 30px;
+}
+
+p:nth-child(odd) {
+    background-color: blue;
+}
+
+p:nth-child(even) {
+    background-color: orange;
+}
+
+p:nth-child(1n+3) {
+    display:block;
+}
+*/
+
+a {
+    width: 200px;
+    height: 200px;
+    background-color: orange;
+    color: blue;
+    font-size: 1.2em;
+    display: inline-block;
+    margin: 5px;
+    text-align: center;
+    line-height: 200px;
+    /* zeby wysrodkować tekst nadajemy wysokość linii tyle co wysokość elementu */
+}
+
+img {
+    float: right;
+}
+
+p:nth-child(3) {
+    /* clear: both */
+        /* 2 paragraf jest 3cim dzieckiem - obrazek liczy się jako pierwsze dziecko - dla trzeciego dziecka wyłączamy opływanie */
+}
+
+#kotek {
+    height: 100px;
+    width: 100px;
+    float: none;
+    margin-bottom: 300px;
+    display: inline-block;
+    
+    transition: width 5s linear 0.5s, height 2s linear 0.5s;
+        /* transition-property: all;
+    transition-duration: 5s;
+    transition-timing-function: linear;
+    transition-delay: 0.5s;
+    
+    skrócony zapis powyższego property i duration obowiązkowe  
+    
+    transition: all 5s linear 0.5s
+    transition na linku dodaje płynności zazwyczaj 0,2-0,3 s*/
+}
+
+#kotek:hover {
+    height: 200px;
+    width: 200px;
+} 

#background {
    height: 50vh;
    background-color: aquamarine;
    background:  url(https://68.media.tumblr.com/avatar_42fe370ca389_128.png) center no-repeat;
    background-size: cover;
    
    /* skrócony zapis adres pozycja powtarzalność 
    background: url(https://68.media.tumblr.com/avatar_42fe370ca389_128.png) center no-repeat;
    
    
    background-image: url(https://68.media.tumblr.com/avatar_42fe370ca389_128.png);
    background-repeat: no-repeat;
    background-position: center top;*/
}

#overflow p {
    width: 25%;
    float: left;
    height: 50px;
}

#overflow p:nth-child(even) {
    background-color: antiquewhite;
}

#overflow p:nth-child(odd) {
    background-color: cyan;
}

#overflow p:nth-child(2) {
    overflow: hidden;
}

#overflow p:nth-child(3) {
    overflow: scroll;
}

#overflow p:nth-child(4) {
    overflow: auto;
}